<mat-toolbar color="primary">
  <ul>
    <a *ngIf="_userService.loggedIn()" routerLink="booksList">Book List</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loggedIn()" routerLink="authorsList">Authors List</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loggedIn() && userRole=='admin'" routerLink="usersList">Admin</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="register">Sign up</a>
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="login">Login</a>
    <a *ngIf="_userService.loggedIn()" (click)="logout()" mat-button>Logout</a>
  </ul>
</mat-toolbar>
