<div class="form">
  <mat-card class="card">
    <mat-card-title>Registrar usuario</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="registerData.name"
            matInput
            type="text"
            autofocus
            placeholder="Ingresa el nombre y apellido"
            required
          />
        </mat-form-field>
        <mat-form-field>
            <input
              [(ngModel)]="registerData.age"
              matInput
              type="number"
              minlength="1"
              min="1"
              placeholder="Ingrese la edad"
              required
            />
          </mat-form-field>
        <mat-form-field>
        <input
            [(ngModel)]="registerData.email"
            matInput
            type="email"
            placeholder="Ingresa el email"
            required
        />
        </mat-form-field>
        <mat-form-field>
        <input
            [(ngModel)]="registerData.password"
            matInput
            placeholder="Ingresa el password"
            type="password"
            required
        />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="registerUser()" class="button" mat-raised-button>Registrar</button>
    </mat-card-actions>
  </mat-card>
</div>
